<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Header Parser</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Request Header Parser Microservice</h3>
            </div>
            <div class="panel-body">
                    <h4>User Stories:</h4>
                    <ul>
                        <li>I can get the IP address, language and operating system for my browser</li>
                    </ul>
                    <h4>Example Usage:</h4>
                    <code>
                        <a href="https://headerparser-joey.herokuapp.com/api/whoami">
                            https://headerparser-joey.herokuapp.com/api/whoami
                        </a>
                    </code>
                    <h4>Example Output:</h4>
                    <p>{"ipaddress":"72.198.91.159","language":"en-US","software":"Macintosh; Intel Mac OS X 10_12_1"}</p>
            </div>
        </div>
    </div>
</body>
</html>